.container {
  position: absolute;
  top: 30%;
  text-align: center;
}

form {
  margin: 2rem;
  padding: 0.7rem;
}


.sidebar {
  position:absolute;
  top:0; bottom:0; left:0;
  width:50px;
  background:#000;
}
